# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea

06-listen-post-data
08-templates

_.*
settings.json

.sass-cache
.project
_.*
.DS_Store
Thumbs.db
.settings
/.gitmodules
.tmp
.idea
OLD*
node_modules
bower_components
*.log
.map
