body {
    background-color: dimgrey;
    width: 100%;
    margin: 0;
    padding: 0;
}

.side-right{
    background-color: #2c2c2c;
    width: 300px;
    right: 0;
    height: 100%;
    border: 0px solid black;
    position: absolute;
    top: 0;
}

.remote-control {
    width: 200px;
    height: 500px;
    top: 10px;
    position: relative;
    left: 10px;
    border: 1px solid black;
}

.remote-button{
    position: absolute;
    border-radius: 20px; 
    cursor: pointer;
}